body {
	font-size: 12px;
	line-height: 24px;
	Font-family:"微软雅黑";
	color: #646464;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/top_bj2.jpg);
	background-repeat: repeat-x;
	background-position: center top;
	background-color: #ededed;
}
.border1{
	border: 3px solid #cdcdcd;
	background-color: #FFF;
}
.border2{
	border: 1px dashed #FC0;
	background-color: #fffbe0;
}

/*连接全部样式*/
a:link {
	font-size: 12px;
	color: #646464;
	text-decoration: none;
}
a:visited {
	font-size: 12px;
	color: #646464;
	text-decoration: none;
}
a:hover {
	font-size: 12px;
	color: #F00;
	text-decoration: none;
}
a:active {
	font-size: 12px;
	color: #646464;
	text-decoration: none;
}

a.moer:link {
	font-size: 14px;
	color: #F00;
	text-decoration: none;
	line-height: 30px;
}
a.moer:visited {
	font-size: 14px;
	color: #F00;
	text-decoration: none;
	line-height: 30px;
}
a.moer:hover {
	font-size: 14px;
	color: #ff6c00;
	text-decoration: underline;
	line-height: 30px;
}
a.moer:active {
	font-size: 14px;
	color: #F00;
	text-decoration: none;
	line-height: 30px;
}

/*导航*/
.user2{
	font-size: 14px;
	color: #646464;
	text-decoration: none;
	line-height: 30px;
}
a.user1:link {
	font-size: 14px;
	color: #646464;
	text-decoration: none;
	line-height: 30px;
}
a.user1:visited {
	font-size: 14px;
	color: #646464;
	text-decoration: none;
	line-height: 30px;
}
a.user1:hover {
	font-size: 14px;
	color: #F00;
	text-decoration: none;
	line-height: 30px;
}
a.user1:active {
	font-size: 14px;
	color: #646464;
	text-decoration: none;
	line-height: 30px;
}


/* 版底 */
.bai1{
	font-size: 12px;
	color: #FFF;
}
a.bai2:link {
	font-size: 12px;
	color: #FFF;
	text-decoration: none;
}
a.bai2:visited {
	font-size: 12px;
	color: #FFF;
	text-decoration: none;
}
a.bai2:hover {
	font-size: 12px;
	color: #FFF;
	text-decoration: underline;
}
a.bai2:active {
	font-size: 12px;
	color: #FFF;
	text-decoration: none;
}


/*区内容列样式 */
.A_tit{
	font-size: 24px;
	font-weight: bold;
	line-height: 36px;
	color: #646464;
}
.A_nr{
	font-size: 14px;
	line-height: 24px;
	color: #646464;
}
.B_tit{
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
	color: #646464;
}
.B_nr{
	font-size: 14px;
	line-height: 30px;
	color: #646464;
	background-image: url(../images/B_ico2.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.tit1{
	font-size: 20px;
	line-height: 40px;
	font-weight: bold;
	color: #ff6c00;
}
.tit2{
	font-size: 16px;
	line-height: 24px;
	color: #333;
	padding-left: 10px;
}
.tit3{
	font-size: 14px;
	color: #333;
	font-weight: bold;
}
dd{margin:0 auto;padding:0 0 0 0px;}