body {
	font-size: 12px;
	line-height: 24px;
	Font-family:"微软雅黑";
	color: #646464;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/top_bj.jpg);
	background-repeat: repeat-x;
	background-position: top;
	background-color: #2d73ab;
}
.border1{
	border: 1px solid #ff6c00;
}
.top{
	background-image: url(../images/top_bj.jpg);
	background-repeat: repeat-x;
	background-position: top;
	position: fixed;
}
.banner_bj{
	background-image: url(../images/banner_bj.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}
.button{
	position: fixed;
	bottom: 0px;
}

/*连接全部样式*/
a:link {
	font-size: 12px;
	color: #646464;
	text-decoration: none;
}
a:visited {
	font-size: 12px;
	color: #646464;
	text-decoration: none;
}
a:hover {
	font-size: 12px;
	color: #F00;
	text-decoration: none;
}
a:active {
	font-size: 12px;
	color: #646464;
	text-decoration: none;
}


/*导航*/
.user2{
	font-size: 14px;
	color: #646464;
	text-decoration: none;
	line-height: 30px;
}
a.user1:link {
	font-size: 14px;
	color: #646464;
	text-decoration: none;
	line-height: 30px;
}
a.user1:visited {
	font-size: 14px;
	color: #646464;
	text-decoration: none;
	line-height: 30px;
}
a.user1:hover {
	font-size: 14px;
	color: #F00;
	text-decoration: none;
	line-height: 30px;
}
a.user1:active {
	font-size: 14px;
	color: #646464;
	text-decoration: none;
	line-height: 30px;
}


/* 版底 */
.bai1{
	font-size: 12px;
	color: #FFF;
}
a.bai2:link {
	font-size: 12px;
	color: #FFF;
	text-decoration: none;
}
a.bai2:visited {
	font-size: 12px;
	color: #FFF;
	text-decoration: none;
}
a.bai2:hover {
	font-size: 12px;
	color: #FFF;
	text-decoration: underline;
}
a.bai2:active {
	font-size: 12px;
	color: #FFF;
	text-decoration: none;
}


/*区内容列样式 */
.A_tit{
	font-size: 24px;
	font-weight: bold;
	line-height: 36px;
	color: #646464;
}
.A_nr{
	font-size: 14px;
	line-height: 24px;
	color: #646464;
}
.B_tit{
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
	color: #646464;
}
.B_nr{
	font-size: 14px;
	line-height: 30px;
	color: #646464;
	background-image: url(../images/B_ico2.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
